* {
  font-family: 'Montserrat', sans-serif;
}

.msg-erro {
  color: red;
  clear: both;
  font-size: 10px;
  position: relative;
}

ion-content {
  height: 200px;
  display: flex;
  position: relative;
}

#container {
  border-radius: 20px;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#botoes {
  #botao {
    display: flex;
    text-align: center;
    margin: 5%;
  }

  display: block;
}

#esqueceu {
  display: flex;
  justify-content: right;
  font-size: 85%;
}

#imagem {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
