* {
  font-family: 'Montserrat', sans-serif;
}

ion-title {
  font-weight: bold;
  font-size: 1.5rem;
}

ion-content {
  height: 200px;
  display: flex;
  position: relative;
}

#container {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#botoes {
  #botao {
    display: flex;
    text-align: center;
    margin: 5%;
    justify-content: center;
    --border-radius: 100px;
    font-weight: bold;
  }
  display: block;
}

#imagem {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
