* {
  font-family: 'Montserrat', sans-serif;
}

ion-content {
  height: 200px;
  display: flex;
  position: relative;
}

#container {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#botoes {
  #botao {
    display: flex;
    text-align: center;
    margin: 5%;
  }
  display: block;
}
