<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">
      Usuário
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true">
  <div id="container">
    <ion-card color="cinza">
      <ion-card-content>
        <div id="imagem">
          <img
            src="https://ouch-cdn2.icons8.com/_c9H4K0098r-aDb2txZN2NaJrwtWE-s6IHSOHUtx3eY/rs:fit:256:256/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvMjE2/L2JhOTdkYmRmLWM0/YjItNDQ2ZS1iZTIz/LWRkM2VmYTU0YjI0/MC5zdmc.png"
            alt="imagem-inicial">
        </div>
        <div id="botoes">
          <ion-button id="botao" routerLink="/log-in">Log-in</ion-button>
          <ion-button id="botao" routerLink="/registro">Registro</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
