<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">
      Formulário
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true">
  <div id="container">
    <ion-card color="cinza">
      <ion-card-content>
        <div id="botoes">
          <ion-button id="botao" routerLink="/log-in">Log-in</ion-button>
          <ion-button id="botao"routerLink="/registro">Registro</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
