<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-card>
      <div id="imagem">
        <img src="https://media.istockphoto.com/id/1281150061/vector/register-account-submit-access-login-password-username-internet-online-website-concept.jpg?b=1&s=612x612&w=0&k=20&c=9H5N9Jy8BA9yCzL-Wt5uCeZqETmpPYsJKJ2Nh1-SDaw=" alt="imagem-registro">
      </div>
      <ion-card-header>
        <ion-card-title>Registre-se</ion-card-title>
        <ion-card-subtitle>Faça seu cadastro</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item lines="none">
          <ion-label>Nome: </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label>CPF: </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label>E-mail: </ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Senha: </ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Confirmar Senha: </ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <div id="botoes">
          <ion-button color="success" id="botao" routerLink="#">Salvar</ion-button>
          <ion-button id="botao" routerLink="/log-in">Log-in</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
