<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="cinza">
      <div id="imagem">
        <img src="https://ouch-cdn2.icons8.com/65C5GsKiRvPbpAnXrz3zqMjCCf5yuQ0J35nV8YmmhcI/rs:fit:256:177/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvMjYw/LzIyNjNkMDcyLWNh/Y2EtNGYzMS04YWQy/LTM5OTY1MDkxZTZj/YS5zdmc.png" alt="imagem-registro">
      </div>
      <ion-card-header>
        <ion-card-title>Registre-se</ion-card-title>
        <ion-card-subtitle>Faça seu cadastro</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item color="cinza-claro" lines="none">
          <ion-label>Nome: </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item color="cinza-claro" lines="none">
          <ion-label>CPF: </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item color="cinza-claro" lines="none">
          <ion-label>E-mail: </ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item color="cinza-claro" lines="none">
          <ion-label>Senha: </ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item color="cinza-claro" lines="none">
          <ion-label>Confirmar Senha: </ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <div id="botoes">
          <ion-button color="success" id="botao" routerLink="#">Salvar</ion-button>
          <ion-button id="botao" routerLink="/log-in">Log-in</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
