<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <ion-card color="cinza">
      <div id="imagem">
        <img
          src="https://ouch-cdn2.icons8.com/65C5GsKiRvPbpAnXrz3zqMjCCf5yuQ0J35nV8YmmhcI/rs:fit:256:177/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvMjYw/LzIyNjNkMDcyLWNh/Y2EtNGYzMS04YWQy/LTM5OTY1MDkxZTZj/YS5zdmc.png"
          alt="imagem-registro">
      </div>
      <ion-card-header>
        <ion-card-title style="font-weight: bold; font-size: 1.5rem;" class="ion-text-center">REGISTRAR-SE</ion-card-title>
        <ion-card-subtitle style="color: #eee;" class="ion-text-center">faça seu cadastro</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="formRegistro">

          <ion-item color="cinza-claro">
            <ion-label style="color:darkgray" position="floating">Nome: </ion-label>
            <ion-input formControlName="nome" type="text" placeholder="Insira seu nome"></ion-input>

            <ng-container *ngFor="let erro of mensagens.nome">
              <span class="msg-erro" *ngIf="formRegistro.get('nome')?.hasError(erro.tipo) &&
              (formRegistro.get('nome')?.dirty || formRegistro.get('nome')?.touched)">{{erro.mensagem}}</span>
            </ng-container>

          </ion-item>

          <ion-item color="cinza-claro">
            <ion-label style="color:darkgray" position="floating">CPF: </ion-label>
            <ion-input formControlName="cpf" type="text" placeholder="Ex: 000.000.000-00"></ion-input>

            <ng-container *ngFor="let erro of mensagens.cpf">
              <span class="msg-erro" *ngIf="formRegistro.get('cpf')?.hasError(erro.tipo) &&
              (formRegistro.get('cpf')?.dirty || formRegistro.get('cpf')?.touched)">{{erro.mensagem}}</span>
            </ng-container>

          </ion-item>

          <ion-item color="cinza-claro">
            <ion-label style="color:darkgray" position="floating">E-mail: </ion-label>
            <ion-input formControlName="email" type="email" placeholder="Ex: abc@gmail.com"></ion-input>

            <ng-container *ngFor="let erro of mensagens.email">
              <span class="msg-erro" *ngIf="formRegistro.get('email')?.hasError(erro.tipo) &&
              (formRegistro.get('email')?.dirty || formRegistro.get('email')?.touched)">{{erro.mensagem}}</span>
            </ng-container>

          </ion-item>

          <ion-item color="cinza-claro">
            <ion-label style="color:darkgray" position="floating">Senha: </ion-label>
            <ion-input formControlName="senha" type="password" placeholder="Insira sua Senha"></ion-input>

            <ng-container *ngFor="let erro of mensagens.senha">
              <span class="msg-erro" *ngIf="formRegistro.get('senha')?.hasError(erro.tipo) &&
              (formRegistro.get('senha')?.dirty || formRegistro.get('senha')?.touched)">{{erro.mensagem}}</span>
            </ng-container>

          </ion-item>

          <ion-item color="cinza-claro">
            <ion-label style="color:darkgray" position="floating" placeholder="Insira sua senha novamente">Confirmar Senha: </ion-label>
            <ion-input formControlName="confirmaSenha" type="password"></ion-input>

            <ng-container *ngFor="let erro of mensagens.confirmaSenha">
              <span class="msg-erro" *ngIf="formRegistro.get('confirmaSenha')?.hasError(erro.tipo) &&
              (formRegistro.get('confirmaSenha')?.dirty || formRegistro.get('confirmaSenha')?.touched)">{{erro.mensagem}}</span>
            </ng-container>

          </ion-item>

        </form>

        <div id="botoes">
          <ion-button (click)="salvarRegistro()" color="success" id="botao">Salvar</ion-button>
          <ion-button id="botao" routerLink="/log-in">Log-in</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
